name: build

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Release
  SK_VERSION: nover

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Configure stuff
        shell: pwsh
        run: |
          choco install ninja
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{github.workspace}} ..
          # Set the version from the file
          $ver = Get-Content -Path ../toolset/version
          echo "SK_VERSION=$ver" >> $env:GITHUB_ENV
        env:
          CC: clang
          CXX: clang++

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . -j 6

      - name: Install
        shell: pwsh
        run: |
          cmake --build build --target install
          copy LICENSE bin/LICENSE
          copy toolset/README.md bin/README.md

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: RevilToolset-win64
          path: ${{github.workspace}}/bin
          retention-days: 5
